<h3>Return</h3>

<p>Choose a user to start the return process.</p>

<table class="table">
	<tr>
		<th>User</th>
		<th>Action</th>
	</tr>

	<%= for user <- @users do %>
	<tr>
		<td><%= user.name %></td>
		<td><%= link "Choose", to: loan_path(@conn, :return_list, user_id: user.id), class: "btn btn-primary" %></td>
	</tr>
	<% end %>
</table>