<h3>List of books borrowed by <b><%= @user.name%></b>.</h3>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Action</th>
	</tr>

	<%= for loan <- @borrowed_books do %>
	<tr>
		<td><%= loan.id %></td>
		<td><%= loan.title %></td>
		<td><%= link "Return", to: loan_path(@conn, :return_user, loan_id: loan.id ), class: "btn btn-success"%></td>
	</tr>
	<% end %>
</table>