<h2>Return Users</h2>

<div>Select the user for book return </div> 

<table class= "table">
    <thread>
        <tr>
            <th>User</th>
        
        </tr>
    </thead> 
    <tbody>
<%= for user <- @users do %>
        <tr>
            <td><%= user.name %></td>
            
            <td>
            <%= link "Select", to: loan_path(@conn, :return_books, user_id: user.id), class: "btn btn-primary"%>
            </td>
        </tr>

<% end %>
    </tbody>
</table>

