<h2>List of books to return by <strong><%= @user.name %></strong> </h2>

<table class="table">
<tr>
<th>ID</th>
<th>Title</th>
</tr>


    <%= for loan <- @borrowed_books do %>
<tr>
    <td><%= loan.id%></td>
    <td><%= loan.title %></td>
    <td><%= link "Return", to: loan_path(@conn, :return_user, :loan_id), class: "btn btn-default btn" %> 
    
        <%= end%>
    </td>
        
</tr>

</table>